@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*{
    margin: 0;
}

body {
    font-family: 'Creepster', cursive;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    justify-content: space-around;
    background-color: rgb(65, 4, 4);
    margin: auto;
}
nav img{
    width: 120px;
    height: 50px;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: large;
    color: white;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vw;
    background-color: rgb(128, 60, 52);
    color: rgb(255, 255, 255);
    max-width: 90vw;
    margin: auto;
}
.hero div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.hero div :first-child{
    font-size: 60px;    
}
.hero div :nth-child(2){
    font-size: 30px;
}
.hero div :nth-child(3){
    font-size: 20px;
}
.separator{
    height: 10px;
}
.first{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 30vw;
    max-width: 90vw;
    justify-content: center;
    align-items:center;
    margin: auto;
    font-size: 50px;
    color: brown;
}
.second{
    display: flex;
    max-width: 90vw;
    height: 40vw;
    background-color: rgb(128, 60, 52);
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
.second span{
    font-size: 60px;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.login input{
    width: 350px;
    height: 40px;
    border-radius: 4px;
}
.login button{
    width: 90px;
    position: relative;
    left: 130px;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 8px;
}
.login button:hover{
    background-color: brown;
}
footer{
    font-family: "inter";
    background-color: black;
    max-width: 90vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 200px;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 2fr auto 1fr auto;
    gap: 200px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin: 30px auto auto auto;
}

.container div{
    margin-bottom: 20px;
}
.search{
    position: relative;
    bottom: 2px;
}
nav ul svg{
    position: relative;
    right: 10px;
}